.contenedor-formulario {
    width: 24rem;
    height: 36rem;
    margin: auto;
    background-color: #e4e4e4;
    border-radius: 4px;
    h1 {
        width: 100%;
        height: 4rem;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: #4c4c4c;
        font-weight: bold;
    }
    form {
        width: 90%;
        height: 25%;
        margin: auto;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space;
            margin: 0;
            list-style: none;
            padding: 0;
            position: relative;
            li {
                width: 100%;
                height: 2rem;
                display: flex;
                justify-content: space-between;
                input {
                    width: 63%;
                    height: 80%;
                    border-radius: 3px;
                    border: none;
                    background-color: #cdcdcd;
                    outline: none;
                    padding-left: 6px;
                }
                input[type="text"] {
                    color: #4c4c4c;
                    font-family: "Times New Roman", Times, serif;
                    font-size: 1rem;
                }
                span {
                    width: 35%;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    padding-left: 6px;
                    font-family: "Times New Roman", Times, serif;
                    font-weight: bold;
                    color: #4c4c4c;
                }
            }
            .contenedor-button {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                position: absolute;
                bottom: 0;
                height: 2.5rem;
                input {
                    border: none;
                    background-color: #120feb;
                    border-radius: 4px;
                    width: 6rem;
                    height: 100%;
                    font-size: 1.1rem;
                    font-family: "Times New Roman", Times, serif;
                    font-weight: bold;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
