<h1>Formulario ingreso de productos</h1>
<form action="/api/productos/guardar" method="POST">
    <ul>
        <li><span>Nombre: </span><input autocomplete="off" type="text" name="nombre" /></li>
        <li><span>Precio: </span><input autocomplete="off" type="text" name="precio" /></li>
        <li><span>URL de imagen: </span><input autocomplete="off" type="text" name="urlimg" /></li>
        <li class="contenedor-button">
            <input type="submit"></input>
        </li>
    </ul>
</form>