body {
  background-color: white;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

html {
  font-size: 16px; }

.contenedor-formulario {
  width: 24rem;
  height: 36rem;
  margin: auto;
  background-color: #e4e4e4;
  border-radius: 4px; }
  .contenedor-formulario h1 {
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #4c4c4c;
    font-weight: bold; }
  .contenedor-formulario form {
    width: 90%;
    height: 25%;
    margin: auto; }
    .contenedor-formulario form ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space;
      margin: 0;
      list-style: none;
      padding: 0;
      position: relative; }
      .contenedor-formulario form ul li {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: space-between; }
        .contenedor-formulario form ul li input {
          width: 63%;
          height: 80%;
          border-radius: 3px;
          border: none;
          background-color: #cdcdcd;
          outline: none;
          padding-left: 6px; }
        .contenedor-formulario form ul li input[type="text"] {
          color: #4c4c4c;
          font-family: "Times New Roman", Times, serif;
          font-size: 1rem; }
        .contenedor-formulario form ul li span {
          width: 35%;
          height: 80%;
          display: flex;
          align-items: center;
          padding-left: 6px;
          font-family: "Times New Roman", Times, serif;
          font-weight: bold;
          color: #4c4c4c; }
      .contenedor-formulario form ul .contenedor-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        bottom: 0;
        height: 2.5rem; }
        .contenedor-formulario form ul .contenedor-button input {
          border: none;
          background-color: #120feb;
          border-radius: 4px;
          width: 6rem;
          height: 100%;
          font-size: 1.1rem;
          font-family: "Times New Roman", Times, serif;
          font-weight: bold;
          color: white;
          cursor: pointer; }

.data-table {
  width: 90%;
  height: 56%;
  margin: auto; }
  .data-table h2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #4c4c4c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px; }
  .data-table .contenedor-tabla {
    width: 100%;
    height: 86%;
    overflow-y: scroll;
    overflow-x: hidden; }
    .data-table .contenedor-tabla table {
      width: 100%;
      height: 100%; }
      .data-table .contenedor-tabla table tbody {
        display: flex;
        flex-direction: column; }
        .data-table .contenedor-tabla table tbody tr {
          width: 100%;
          height: 5rem;
          display: flex;
          justify-content: space-between;
          background-color: #4c4c4c;
          color: white;
          margin-bottom: 5px;
          position: relative; }
          .data-table .contenedor-tabla table tbody tr th,
          .data-table .contenedor-tabla table tbody tr td {
            width: 33%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0; }
          .data-table .contenedor-tabla table tbody tr td {
            font-weight: lighter;
            text-align: center; }
            .data-table .contenedor-tabla table tbody tr td .close {
              position: absolute;
              width: 15px;
              height: 15px;
              top: 5px;
              right: 5px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: red;
              font-size: 14px;
              cursor: pointer; }
        .data-table .contenedor-tabla table tbody .titles {
          border-radius: 4px 4px 0 0;
          height: 2.8rem; }
          .data-table .contenedor-tabla table tbody .titles th {
            width: 32%;
            font-weight: bold; }
